@import "bootstrap.min.css";

body.no_margin {
  margin: 0;
}

img.head_bg {
  width: 100% !important;
}

div.menu {
  height: 160px;
  z-index: 1000;
}

div.head {
  z-index: -1;
}

table.menu td {

}

a.font {
  color: wheat !important;
}

/*内容宽度为窗口的70%，居中*/
.wrapWidth, .b_container {
  margin-left: 15%;
  margin-right: 15%;
}

.wrapWidth {
  padding: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.gravity_center_h{
  margin: auto;
}


